{{!-- NavBar --}}

<header class="side-nav">
  <div class="side-nav-logo">
    {{svg-jar "Shape" alt="img" }}
  </div>

  <div class="candidates {{if isUserRoute "active-icon"}}">
    {{#link-to "users"}}
      {{svg-jar "candidates" class="icon" }}
    {{/link-to}}
  </div>
</header>

<header class="topNav">
  <div class="top-nav-tabs">
    <img src="/assets/images/favicon.ico" class="top-nav-icon" alt="img">
    <p>Talent Center</p>
  </div>
</header>


<header class="subNav">
  <div class="subNav-tabs">
    <p>Employees</p>
  </div>
</header>


{{!-- Footer --}}

<footer>
  <p>HR Software by Freshworks | Knowledge Base</p>
</footer>