{{!-- NavBar --}}

<header class="side-nav" data-test-id="sideNav">
    <div class="side-nav-tabs" data-test-id="sideNav-icon">
        {{svg-jar "Shape" class="side-nav-icon" alt="img"}}
    </div>

     <div class="candidates {{if isUserRoute 'active-icon'}}" data-test-id="candidate-icon">
        {{#link-to 'users' }} {{svg-jar "candidates" class="icon" }}
        {{/link-to}}
    </div>
</header>



<header class="topNav" data-test-id="topNav">
    <div class="top-nav-tabs" data-test-id="topNav-tabs">
        <img src="/assets/images/favicon.ico" class="top-nav-icon" alt="img">
        <p data-test-id="topNav-text">Talent Center</p>
    </div>
</header>


{{outlet}}

{{!-- Footer --}}

<footer data-test-id="footer">
    <p data-test-id="footer-text">HR Software by Freshworks &nbsp;  |  &nbsp; Knowledge Base</p>
</footer>


