<div class="add-emp" data-test-id="slideModal">
  <div {{action "close"}} class="close-btn-box" data-test-id="slideModal-close-btn">
    <a>{{svg-jar "close" class="close-btn"}}</a>
  </div>

  <form method="post" {{action "save" 'model' on="submit"}} >
    <div class="add-emp-container">
      <div class="add-emp-nav">
        <p class="add-emp-text" data-test-id="add-employee-text">Add Employee</p>
        <div class="add-emp-btns">
          <button type="reset" class="reset" data-test-id="reset-text">Reset</button>
          <button type="submit" class="apply" data-test-id="create-user-form">Apply</button>
        </div>
      </div>
      {{yield}}
    </div>
  </form>
</div>