 <div class="img-uploader" data-test-id="upload-avatar">
      <div class="img-uploader-icon">
        {{svg-jar "avatar-loading" data-test-id="avatar-icon" class="avatar-icon"}}
        {{svg-jar "img-upload" data-test-id="uploader-icon" class="uploader-icon"}}
      </div>
  </div>
