 <div class="img-uploader">
      <div class="img-uploader-icon">
        {{svg-jar "avatar-loading" class="avatar-icon"}}
        {{svg-jar "img-upload" class="uploader-icon"}}
      </div>
    </div>
