 <div class="profile">
    {{#if user.image}}
      <img src={{user.image}} alt="user">
    {{else}}
      <div class="profile-icon" style={{isClosing}}>
        <p>{{profile_char}}</p>
      </div>
    {{/if}}
  </div>