 <div class="profile">
    {{#if user.image}}
      <img src={{user.image}} alt="user">
    {{else}}
      <div class="profile-icon" style={{getBgColor}}>
        <span>{{profileChar}}</span>
      </div>
    {{/if}}
  </div>

  
