{{#filter-by usersList=this.userLists data-test-id="filter-by-component"}}{{/filter-by}}

<div class="userWrapper" data-test-id="user-cards-wrapper">
  {{#if (gt this.userLists.length 0)}}
    {{#each this.userLists as |user|}}
      {{#user-card user=user data-test-id="user-card"}}{{/user-card}}
    {{/each}}
  {{else}}
    <div class="no-data" data-test-id="no-data">
      {{svg-jar "directory" class="user-icon"}}
      <p data-test-id="no-list-view" class="no-emp"> No employees to list in this view</p>
      <p data-test-id="try-something-msg" class="try-something">Try looking for something less specific </p>
    </div>
  {{/if}}
</div>

