@import "ember-bootstrap/bootstrap";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #e5e5e5;
}

@mixin content-wrapper {
  position: absolute;
  left: 85px;
}

@import "sub-styles/home.scss";

@import "sub-styles/nav.scss";

@import "sub-styles/users.scss";

@import "sub-styles/user-card.scss";

@import "sub-styles/filter-nav.scss";

@import "sub-styles/filter-nav.scss";

@import "sub-styles/slide-modal.scss";

@import "sub-styles/user-form.scss";

@import "ember-power-select";


.modal-content{
  width: 604px;
  height: 86px;
}

.confirmation-text{
  font-size: 14px;
  color: rgba(18, 52, 77, 1);
  width: 327px;
  position: absolute;
  left: 69px;
  top: 22px;
}


.cancel-btn{
  background-color: white !important;
  color: rgba(18, 52, 77, 1);
  font-size: 14px;
  border: none;
}

.cancel-btn:hover{
  background-color: none !important;
  color: rgba(18, 52, 77, 1);
}

.save-btn{
  background-color: rgba(18, 52, 77, 1) !important;
  color: white;
  font-size: 14px;
  border: none;
}

.delete-exclamation .exclamation-icon{
  width: 30px ;
  fill: rgba(232, 111, 37, 1);
  position: absolute;
  left: 26px;
  top: 24px;
}


.modal-btns{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}