@import "ember-bootstrap/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #E5E5E5 !important;
  font-family: 'Roboto' !important;
}

@mixin content-wrapper {
  position: absolute;
  top: 131px;
  left: 84px;

}



@import "sub-styles/home.scss";

@import "sub-styles/nav.scss";


@import "sub-styles/userCard.scss";

@import "ember-bootstrap/bootstrap";