// Nav-3 section 

.filter-by {
  display: flex;
  height: 20px;
  margin: 0 0 10px 0;
  cursor: pointer;
  float: left;
}

.filter-by::after{
  content: none;
}

.filter-by:hover{
  text-decoration: none;
}

.filter-by span {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.08px;
  color: #7b8e9f;
  padding-right: 7px;
}

.filter-by p {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.08px;
  color: #12344d;
  padding-right: 5.08px;
}

.filter-by .open {
  margin-top: 7px;
  width: 14px;
  height: 8px;
}

.turn {
  transform: rotate(180deg);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

// Filter Table

.filter .dropdown-menu {
  background-color: #ffffff;
  width: 120px;
  border-radius: 4px;
  text-align: center;
}


.filter .team {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
}

.filter-table {
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #12344d;
  opacity: .8;
}


.filter-table button{
  border: none;
  background-color: #ffffff;
}

.filter-table button:hover {
  color: #2752b0;
}

// Sort By

.sort {
  position: absolute;
  left: 283px;
}

.divider {
  width: 212px;
  position: relative;
  right: 10px;
}

//  sort by

.sort .dropdown-menu {
  background-color: #ffffff;
  width: 212px;
  height: 200px;
  border-radius: 4px;
  box-shadow: 0px 2px 10px rgba(24, 50, 71, 0.2);
}

.sort .menu{
  padding: 0 10px 0 10px;
}

.sort-table {
  font-weight: 400;
  font-size: 14px;
  color: #12344d;
  opacity: .8;
  width: 192px;
  display: flex;
  align-items: center;
  padding: 6px 28px 6px 10px;
  border: none;
  background-color: #ffffff;
}


.sort-method{
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #12344d;
  opacity: .8;
  width: 192px;
  display: flex;
  align-items: center;
  padding: 6px 28px 6px 10px;
}

.sort-method:hover {
  background: #ebeff3;
}

.sort-table:hover {
  background: #ebeff3;
}

.tick::after {
  content: "\2714";
  margin-left: auto;
}

// Search Bar

.search-field {
  float: right;
  padding: 0 25px 11px 0;
  position: relative;
}

.search-field input {
  width: 400px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #dadee4;
  outline-style:none;
  border-radius: 2px;
  padding-left: 29px;
  font-size: 14px;
}

.search-field input:hover{
  border: 1px solid #475867;
}

.search-field input:focus{
  border: 2px solid #2c5cc5;

}

 .search-field input::-webkit-input-placeholder{
  opacity: .3;
}

.search-field input::-webkit-search-cancel-button{
  padding-right: 5px;
  font-size:15px;
  opacity: 0.7;
  cursor: pointer;
}

.search-field .magnifier {
  height: 12.8px;
  width: 12.8px;
  position: absolute;
  left: 10.43px;
  top: 8px;
  fill: #000000;
}

