@keyframes slide-modal {
  from {
    right: -400px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

.add-emp {
  z-index: 8;
  position: fixed;
  right: 0;
  top: 108px;
  animation: slide-modal 0.7s 1;
}

.add-emp .close-btn-box .close-btn {
  width: 15px;
  fill: #ffffff;
}

.add-emp .close-btn-box {
  width: 45px;
  height: 50px;
  background: #12344d;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  cursor: pointer;
}

.add-emp .close-btn-box:hover {
  opacity: 0.9;
}

.add-emp .add-emp-container {
  margin-left: 45px;
  width: 776px;
  height: 915px;
  background-color: #ffffff;
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, .1);

}

.add-emp-container .add-emp-nav {
  height: 50px;
  width: 776px;
  border-bottom: 1px solid rgba(218, 222, 228, .1);
  box-shadow: 0px 0.5px 0px #dadee4;
}

.add-emp-nav .add-emp-text {
  float: left;
  font-weight: 600;
  font-size: 16px;
  padding: 14px 0 14px 24px;
}

.add-emp-nav .add-emp-btns {
  .apply {
    background: #264966;
    padding: 6px 12px 6px 12px;
    color: #ffffff;
    margin-left: 24px;
    border: none;
  }
  .reset {
    padding-top: 6px;
    border: none;
    background-color: #ffffff;
  }
  float: right;
  display: flex;
  margin: 10px 20px 10px 0;
  font-weight: 400;
  font-size: 14px;
}

// Image Uploader

#file-id{
  display: none;
}

.img-uploader {
  position: absolute;
  top: 80px;
  left: 18px;
  margin-bottom: 10px;
}

.img-uploader .img-uploader-icon {
  width: 90px;
  height: 92px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-uploader .CurrentSelectedImg{
  width: 90px;
  height: 92px;
  border-radius: 50%;
}

.img-uploader .imgClose{
  width: 15px;
  fill: #111111;
  position: absolute;
  top: 0;
  cursor: pointer;
}


.img-uploader-icon .avatar-icon {
  width: 50px;
  fill: #ffffff;
}

.img-uploader-icon .uploader-icon {
  width: 40px;
  position: absolute;
  bottom: 0;
  right: -5px;
  fill: #12344d;
  opacity: 0.6;
}
