.profile-icon {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  opacity: 0.7;
}

.profile-icon span {
  font-size: 35px;
  border-radius: 50%;
}

.profile img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.userCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 265px;
  height: 265px;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0 18px 18px 0;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
  position: relative;
}

.userCard:hover .user-btns{
  display: block;
}


.userCard .user-btns{
  position: absolute;
  top: 14px;
  right: 23.89px;
  display: none;
}

.userCard .edit-icon {
  height: 17px;
  width: 16px;
  fill: #12344D;
  margin-right: 10px;
}

.userCard .delete-icon {
  height: 17px;
  width: 16px;
  fill: #12344D;
  border: none;
  background-color: #ffffff;
}


.userWrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.userCard p {
  margin: 0;
}

.userCard .fullName {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #27313a;
}

.userCard .email {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #576c7d;
}

// No Data

.no-data {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 630px;
  top: 300px;
}

.no-data .user-icon {
  width: 100px;
  height: 100px;
  fill: #000000;
  opacity: 0.1;
}

.no-data p {
  margin: 0;
}

.no-data .no-emp {
  font-weight: 600;
  font-size: 20px;
  color: #475867;
  padding-top: 5px;
}

.no-data .try-something {
  font-weight: 400;
  font-size: 18px;
  color: #475867;
  opacity: 0.7;
}
