<div class="wrapper">

    <h1>Musaraf Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit vero perferendis deleniti voluptas harum veniam officia magnam possimus ipsum, soluta quos modi asperiores exercitationem accusamus ducimus accusantium aliquid nam ullam.</h1>

</div>