<header class="subNav">
  <div class="subNav-tabs">
    <p>Employees</p>
  </div>
</header>

  {{#add-employee-nav }}{{/add-employee-nav}}

  {{outlet}}

<div class="wrapper-users">
  <UsersCards />
</div>

